<!DOCTYPE html>
<html>
  <head>
    <title>Chieh's Todo App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  });
  </script>


  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>


